{% load static %}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{% static 'css.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'semantic/semantic.css' %}"/>
</head>
<body class="site">
<div style="background:#FF1818">
    <img src="{% static 'img/logo.png' %}" class="ui medium circular image" alt='Fotinho da logo' >
    <nav class="ui menu red inverted large">
        <button class="ui red inverted button"><a href="{% url 'pitcaria:index' %}" style="color:white">Home</a></button>
        <button class="ui red inverted button"><a href="{% url 'pitcaria:cadastro-cliente' %}" style="color:white">Cadastrar Cliente</a></button>
        <button class="ui red inverted button"><a href="{% url 'pitcaria:cadastro-pizzaria' %}" style="color:white">Cadastrar Pizzaria</a></button>
        <button class="ui red inverted button"><a href="{% url 'pitcaria:login' %}" style="color:white">Login</a></button>
    </nav>
</div>
<div class="Site-content" style="background:#EFEAEA">
    <div class="grid ui centered">

        <div class="six wide column ">
            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'semantic/semantic.js' %}"></script>
<footer style="background:red">
<span class="Footer-social">

</span>
    <div class="Footer-credits">
        <span class="Footer-credit" style="margin-left:50px">Criado pelos retardados do BSI</span>

        <span class="Footer-credit" style="margin-left:300px">Pitçária</span>

        <span class="Footer-credit" style="float:right"> Engenharia de Software</span>
    </div>
</footer>
</body>
</html>