{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="{% url 'pitcaria:cadastro-pizzaria' %}" class='ui form'>

        {% csrf_token %}

        {% if msg %}
            <div>{{ msg }}</div>
        {% endif %}

        {% if form.username %}
            <label>{{ form.username.label }}</label>
            {{ form.username }} </br>
            {% if form.username.errors %}
                {{ form.username.errors }}
            {% endif %}
        {% endif %}

        <label>{{ form.password.label }}</label>
        {{ form.password }} </br>
        {% if form.password.errors %}
            {{ form.password.errors }}
        {% endif %}


        <label>{{ form.first_name.label }}</label>
        {{ form.first_name }} </br>
        {% if form.first_name.errors %}
            {{ form.first_name.errors }}
        {% endif %}

        <label>{{ form.cnpj.label }}</label>
        {{ form.cnpj }} </br>
        {% if form.cnpj.errors %}
            {{ form.cnpj.errors }}
        {% endif %}

        <label>{{ form.email.label }}</label>
        {{ form.email }} </br>
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}

        <label>{{ form.telefone.label }}</label>
        {{ form.telefone }} </br>
        {% if form.telefone.errors %}
            {{ form.telefone.errors }}
        {% endif %}

        <label>{{ form.estado.label }}</label>
        {{ form.estado }} </br>
        {% if form.estado.errors %}
            {{ form.estado.errors }}
        {% endif %}

        <label>{{ form.cidade.label }}</label>
        {{ form.cidade }} </br>
        {% if form.cidade.errors %}
            {{ form.cidade.errors }}
        {% endif %}

        <label>{{ form.bairro.label }}</label>
        {{ form.bairro }} </br>
        {% if form.bairro.errors %}
            {{ form.bairro.errors }}
        {% endif %}

        <label>{{ form.rua.label }}</label>
        {{ form.rua }} </br>
        {% if form.rua.errors %}
            {{ form.rua.errors }}
        {% endif %}

        <label>{{ form.complemento.label }}</label>
        {{ form.complemento }} </br>
        {% if form.complemento.errors %}
            {{ form.complemento.errors }}
        {% endif %}

        <button type="submit" class="ui verde button">Salvar</button>
    </form>
{% endblock content %}