{% extends 'base.html' %}
{% block content %}
<table class="ui single line table" style="margin-top:50px">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sabor</th>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>
  {% for pizza in pizzas%}
    <tr>
      <td>{{pizza.nome}}</td>
      <td>{{pizza.sabor}}</td>
      <td>{{pizza.descricao}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<!--{{pizzas.pizzaria.id}}-->
{% if request.session.pizzaria == None %}
  <button class="ui button"><a href="{% url 'pitcaria:fazer-pedido' id %}">Fazer Pedido</a></button>
{% endif %}
{% endblock content %}