{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% if msg %}
<p>{{ msg }}</p>
{% endif %}

<table class="ui celled padded table" style="margin-top:50px">
    <thead>
    <tr>
        <th>Pizzaria</th>
        <th>Cliente</th>
        <th>Sabor 1</th>
        <th>Sabor 2</th>
        <th>Sabor 3</th>
        <th>Tamanho</th>
        <th>Entrega</th>
        <th>Preco</th>
        <th>Data</th>
    </tr>
    </thead>
    <tbody>
    {% for pedido in pedidos %}
    <tr>
        <td>
            {{pedido.pizzaria}}
        </td>

        <td>
            {{pedido.cliente}}
        </td>

        <td>
            {{pedido.primeiro}}
        </td>

        <td>
            {{pedido.segundo}}
        </td>

        <td>
            {{pedido.terceiro}}
        </td>

        <td>
            {{pedido.tamanho}}
        </td>

        <td>
            {{pedido.entrega}}
        </td>

        <td>
            {{pedido.tamanho.preco}}
        </td>

        <td>
            {{pedido.horario}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% else %}
<h4>Você não esta logado no sistema</h4>
{% endif %}
{% endblock content %}