{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h4>Perfil do Usuário</h4>
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
        <div>
            <p>Nome completo: {{ request.session.first_name }} {{ request.session.last_name }}</p>
            <p>CPF: {{ request.session.cpf }}</p>
            <p>Email: {{ request.session.email }} </p>
            <p>Endereço: {{ request.session.endereco }}</p>
            <p>Telefone: {{ request.session.telefone }}</p>
            <a href="{% url 'pitcaria:logout' %}">Sair</a><br/>
            <a href="{% url 'pitcaria:editar_perfil' %}">Editar Perfil</a><br/>
        </div>
    {% else %}
        <h4>Você não esta logado no sistema</h4>
        <a href="{% url 'estante:login' %}">Login</a><br/>
    {% endif %}
{% endblock content %}