{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% if msg %}
<p>{{ msg }}</p>
{% endif %}

<table class="ui table" style="margin-top:40px">
    <thead>
    <tr>
        <th class="ten wide">Perfil</th>
        <th class="six wide">Dados</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Nome Completo</td>
        <td>{{ request.session.first_name }} {{ request.session.last_name }}</td>
    </tr>
    <tr>
        <td>CPF</td>
        <td>{{ request.session.cpf }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ request.session.email }}</td>
    </tr>
    <tr>
        <td>Telefone</td>
        <td>{{ request.session.telefone }}</td>
    </tr>
    <tr>
        <td>Nota</td>
        <td>{{ request.session.nota }}</td>
    </tr>
    </tbody>
</table>

    <button class="ui red inverted button"><a href="{% url 'pitcaria:editar_cliente' %}" style="color:red">Editar Perfil</a></button>

{% else %}
<h4>Você não esta logado no sistema</h4>
<a href="{% url 'estante:login' %}">Login</a><br/>
{% endif %}
{% endblock content %}