{% extends 'base.html' %}
{% block content %}
    {% if user.is_anonymous %}
        <script>
            alert("Faça o login antes!" )
            {location.href='/estante/'}
        </script>
    {% endif %}
    <form method="POST" action="{% url 'estante:cadastro-livro'  %}" class='ui form'>
        {% csrf_token %}

        <label>{{ form.id_livro.label }}</label>
        {{ form.id_livro }}
            {% if form.id_livro.errors %}
            {{ form.id_livro.errors }}
        {% endif %}<br/>


        <label>{{ form.titulo.label }}</label>
        {{ form.titulo }}
        {% if form.titulo.errors %}
            {{ form.titulo.errors }}
        {% endif %}<br/>


        <label>{{ form.autor.label }}</label>
        {{ form.autor }}
        {% if form.autor.errors %}
            {{ form.autor.errors }}
        {% endif %}<br/>


        <label>{{ form.editora.label }}</label>
        {{ form.editora }}
        {% if form.editora.errors %}
            {{ form.editora.errors }}
        {% endif %}<br/>


        <label>{{ form.ano.label }}</label>
        {{ form.ano }}
        {% if form.ano.errors %}
            {{ form.ano.errors }}
        {% endif %}<br/>

        <button type="submit" class="ui verde button">Salvar</button><br>
        <a href="{% url 'estante:perfil' %}">Voltar ao perfil</a>
    </form>
{% endblock content %}
