{% extends 'base.html' %}
{% block content %}
    <form method="POST" action="{% url 'estante:cadastro-pessoa' %}" class='ui form'>

        {% csrf_token %}

        {% if msg %}
            <div>{{ msg }}</div>
        {% endif %}

        {% if form.username.errors %}
            {{ form.username.errors }}
        {% endif %}
        <label>{{ form.username.label }}</label>
        {{ form.username }}

        <label>Senha</label>
        <input type="password" name="password"> <br/>

        <label>Nome</label>
        <input type="text" name="first_name"> <br/>

        <label>Sobrenome</label>
        <input type="text" name="last_name"> <br/>

        {% if form.cpf.errors %}
            {{ form.cpf.errors }}
        {% endif %}
        <label>{{ form.cpf.label }}</label>
        {{ form.cpf }}


        <label>Telefone</label>
        <input type="text" name="telefone"> <br/>

        <label>Email</label>
        <input type="text" name="email"> <br/>

        <label>Endereço</label>
        <input type="text" name="endereco"> <br/>

        <button type="submit" class="ui verde button">Salvar</button>
    </form>
{% endblock content %}