{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <script>
            {location.href='/estante/perfil'}
        </script>
    {% endif %}
    <form method="POST" action="{% url 'estante:login' %}" class='ui form'>
        {% csrf_token %}

        {% if msg %}
            <div>{{ msg }}</div>
        {% endif %}

        {% if form.username.errors %}
            {{ form.username.errors }}
        {% endif %}
        <label>{{ form.username.label }}</label>
        {{ form.username }} </br>

        {% if form.password.errors %}
            {{ form.password.errors }}
        {% endif %}
        <label>{{ form.password.label }}</label>
        {{ form.password }} </br>

        <button type="submit" class="ui verde button">Entrar</button></br>
    </form>
    <a href="{% url 'estante:cadastro-pessoa' %}" >criar</a></br>
    <a href="{% url 'estante:ativar' %}" >Ativar usuário inativo</a></br>
{% endblock content %}