<html>
<body>
    <form method="POST" action="{% url 'estante:index' %}" class='ui form'>

        {% csrf_token %}

        {% if msg %}
            <div>{{ msg }}</div>
        {% endif %}

        <center><label>Login</label></center>
        <center><input type="text" name="username"> <br/></center>

       <center> <label>Senha</label></center>
       <center> <input type="password" name="password"> <br/></center>

        <center><button type="submit" class="ui verde button">Entrar</button></center>
        <center><a href="{% url 'estante:cadastro-pessoa' %}" >criar</a></center>

    </form>

</body>
</html>