{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h4>Meus livros</h4>
            {% for livro in livros %}
                {% ifequal user.id livro.dono.id %}
                    Título: <a href="{% url 'estante:perfil_livro' livro.id %}">{{ livro.titulo }}</a><br/>
                {% endifequal %}
            {%endfor %}
        {% if emprestimos %}
        <h4>Livros Emprestados</h4>

            {% for emprestimo in emprestimos %}
                {% if emprestimo.pegou_emprestado_id == user.id %}
                    <a href="{% url 'estante:perfil_livro' emprestimo.livro_emprestado_id %}">{{ emprestimo.livro_emprestado.titulo }}</a><br/>
                {% endif %}
            {%endfor %}
        {% endif %}
        <br/>
        <div>
            <h4>Procurar livro</h4>
                <form method="POST" action="{% url 'estante:procurar_livro' %}" class='ui form'>
                {% csrf_token %}

                {% if msg %}
                    <div>{{ msg }}</div>
                {% endif %}
                <select name = 'tipo'>
                    <option value ='titulo'>Título</option>
                    <option value ='autor'>Autor</option>
                    <option value ='dono'>Dono</option>
                </select>
                <input type="text" name="procura" value="Deixe vázio para procurar todos" onfocus="this.value='';" ><br/>
                <button type="submit" class="ui verde button">procurar</button></br>
            </form>
        </div>
            <a href="{% url 'estante:perfil' %}">Voltar ao perfil</a>
    {% else %}
        <h4>Você não esta logado no sistema</h4>
        <a href="{% url 'estante:login' %}">Login</a><br/>
    {% endif %}
{% endblock content %}