<html>
    <head>
        {% if user.is_anonymous %}
            <script>
                alert("Você não está logado!")
                {location.href='/estante/'}
            </script>
        {% endif %}

    </head>
    <body>
        <h2>Perfil do Usuário</h2>
        {% if msg %}
            <p>{{ msg }}</p>
        {% endif %}
        <div>

        </div>
        <p>nome completo: {{ first_name }} {{ last_name }}</p>
        <p>CPF: {{ cpf }}</p>
        <p>Email: {{ email }} </p>
        <p>Endereço: {{ endereco }}</p>
        <p>Telefone: {{ telefone }}</p>
        <a href="{% url 'estante:logout' %}">Sair</a>
        <a href="{% url 'estante:desativar' %}">Desativar</a>
        <a href="{% url 'estante:editar_perfil' %}">Editar Perfil</a>
        <a href="{% url 'estante:cadastro-livro' %}">Cadastrar Livro</a>
        <a href="{% url 'estante:lista_livros' %}">Livros</a>
    </body>
</html>