<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
</head>
<body>
<label> {{ livro.titulo }} </label>

<h5> Editora: {{ livro.editora }}</h5>
<h5> Autor: {{ livro.autor }}</h5>
<h5> Ano: {{ livro.ano }}</h5>
<h5> Dono do livro: {{ livro.dono }}</h5>

<a href="{% url 'estante: edita-livro' id %}">Editar</a>

{#{% if livro.dono == usuario %}#}
{#    <a href="{% url 'estante:edita-livro' id %}">Editar</a>#}
{#    <a href="{% url 'estante:cadastro-livro' id %}">Delvolver</a>#}
{#    <a href="{% url 'estante:esconder-livro' id %}">Esconder</a>#}
{#{% endif %}#}
{#{% if livro.dono != usuario %}#}
{#    <a href="{% url 'estante:cadastro-livro' id %}">Emprestar</a>#}
{#{% endif %}#}




</body>
</html>