{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h4>Livros encontrados</h4>
        {% if not livro %}
                <h5>Nenhum livro encontrado</h5>
            {% endif %}
        {% for livro in livro %}
            {% if livro.status == True and livro.dono.is_active == True %}
                <a href="{% url 'estante:perfil_livro' livro.id %}">titulo: {{ livro.titulo }}</a><br> Autor: {{ livro.autor }}<br> Dono: {{ livro.dono }}<br/><br/>
            {% endif %}
        {% endfor %}
        <a href="{% url 'estante:lista_livros' %}">Voltar a sua biblioteca</a><br/>
    {% else %}
        <h4>Você não esta logado no sistema</h4>
        <a href="{% url 'estante:login' %}">Login</a><br/>
    {% endif %}
{% endblock content %}